<html>
<head>
    <title>Home page</title>
    {% include 'CurdOperation/bootstraplie.html' %}
<style>
    .jumbotron{
        background-color: cyan;
        border-radius: 200px;
    }
</style>
</head>
<body>
 <h1 class="text-center text-success">Student Details</h1>
<div class="jumbotron">



        <div class="row">
            <div class="col-md text-center">
             <a href="/Create/" class="Btn btn-success text-center text-white">Create</a>
            </div>
            <div class="col-md text-center">
            <a href="/Retrieve/" class="Btn btn-success text-center text-white">Retrieve</a>
            </div>
            <div class="col-md text-center">
             <a href="/Update/" class="Btn btn-success text-center text-white">Update</a>
            </div>
            <div class="col-md text-center">
             <a href="/delete/" class="Btn btn-danger text-center text-white">Delete</a>
            </div>

    </div>





</div>
</body>

</html>